<div class="navbar">
  <%= image_tag 'logo.png' %>
  <div>
    <%= link_to 'Home', root_path %>
    <%= link_to "new category", new_category_path %>
  </div>
</div>


<div class="form-new mt-5">
  <h1>Create a New Category</h1>
  <%= simple_form_for @category do |f| %>
    <%= f.input :name, label: false, placeholder: "Category name..." %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>
